.ExcelDataExtensionIcon {
    background-image: url(https://img.icons8.com/material/64/ffffff/export-excel.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}